{% extends 'base.html' %}

{% block content%}

<!--Main layout-->

<main class="mt-5 pt-4" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.gambar.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <strong><p style="font-size: 20px;">{{ object.nama_produk }}</p></strong>
                        <a href="">
                            <span class="badge bg-dark me-1">{{ object.get_kategori_display }}</span>
                        </a>
                        {% if object.label == 'NEW' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">New</span>
                        </a>
                        {% elif object.label == 'SALE' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Sale</span>
                        </a>
                        {% else %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Bestseller</span>
                        </a>
                        {% endif %}
                    </div>

                    <p class="lead">
                        {% if object.harga_diskon %}
                        <span class="me-1">
                            <del>${{ object.harga }}</del>
                        </span>
                        <span>${{ object.harga_diskon }}</span>
                        {% else %}
                        <span>${{ object.harga }}</span>
                        {% endif %}
                    </p>

                    <strong><p style="font-size: 20px;">Deskripsi</p></strong>

                    <p>{{ object.deskripsi }}</p>

                    {% if object.stock <= 0 %}
                    <label class="badge bg-danger">Out of Stock</label>
                    {% else %}
                    <label class="badge bg-success">In Stock</label>

                            <div class="col">
                                <div class="row p-3">
                                    <div class="col-6">
                                        <label for="select"><strong>Quantity :</strong></label>
                                        <select id="select{{user.id}}">
                                            {% if object.stock == 1 %}
                                            <option value="1">1 item left</option>
                                            {% else %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                    <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary ms-1">
                        Tambah ke keranjang
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </a>
                    <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger ms-1" >
                        Hapus dari keranjang
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </a>
                    {% endif %}
                </div>
                <!--Content-->
            </div>
        </div>
    </div>
    <br>
        <div class="row">
        <div class="col-md-9">

            {% autoescape off %}
            <form action="{{ object.get_submit_review_url }}" method="POST">
                {% csrf_token %}

                <h5>Write Your Review</h5>

                <div>
                    <!-- Rating stars -->
                    <label>How do you rate this product?</label>
                <br>
                    <div class="rate">
	                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
	                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
	                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
	                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
	                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
	                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
	                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
	                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
	                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                    </div>
                </div>
            </form>

            <br>
            Review Title:
            <input type="text" class="form-control" name="subject">
            <br>
            Review:
            <textarea name="review" rows="4" class="form-control"></textarea>
            <br>
            {% if user.is_authenticated %}
                <input type="submit" value="Submit Review" class="btn btn-primary">
            {% else %}
                <p>You must be logged in to post a review.</p>
            {% endif %}
            {% endautoescape %}
        </div>
        </div>
                <!--Grid column-->

                <!--Grid row-->
        <hr />

        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates, quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

</main>
<!--Main layout-->

{% endblock content%}
